.table_col {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
	color: #3e4347;
	margin: 20px auto;
	border-radius: 5px;
}

.table_col th:first-child,
.table_col td:first-child {
	color: #3e4347;
	border-left: none;
}

.table_col th {
	font-weight: normal;
}

.floating-button {
	text-decoration: none;
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 28%;
	margin: 10px 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	color: #00c6ff;
}

.floating-button:hover {
	background: white;
	box-shadow: 0 15px 20px rgba(67, 210, 253, 0.4);
	color: #00c6ff;
	transform: translateY(-7px);
	cursor: pointer;
}
